<% book.book_comments.each do |book_comment| %>
 <li class="comment">
		    <div class="comment-body bb">
		        <div class="comment-avatar">
		            <div class="avatar">
			            <%= attachment_image_tag @user_show, :profile_image, format: 'jpeg', size: '50x50', fallback: "no_image.jpg" %>
			        </div>
			        <div class="comment-text">
			        <div class="comment-author clearfix">
				        <a href="#" class="link-author"><%= book_comment.user.name %></a>
				            <span class="comment-meta">
				              <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
				            </span>
				    </div>
				    <div class="comment-entry"><%= book_comment.comment %></div>
				   </div>
				    <% if book_comment.user == current_user %>
				        <div>
				        	<%= link_to "delete", book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, remote: true, class: "btn btn-danger pull-rigth" %>
				        </div>
				    <% end %>
				</div>
		    </div>
	    </li>
<% end %>